<div class="job-log-entry" data-job-id="<%= job_id %>">
  <span class="log-timestamp">[<%= timestamp.strftime("%H:%M:%S") %>]</span>
  <span class="log-job-id">Job <%= job_id[0..7] %>:</span>
  <span class="log-message"><%= message %></span>
</div>