
<!DOCTYPE html>
<html>
<head>
  <title>Railbook</title>
</head>
<body>
  <app-root></app-root>
  <script type="module">
    <%= raw Rails.application.assets["main.6747941f0950c82e.js"].to_s %>
  </script>
  <script type="module">
    <%= raw Rails.application.assets["polyfills.17f87c7c35dc2433.js"].to_s %>
  </script>
  <script type="module">
    <%= raw Rails.application.assets["runtime.f3cc930729914d15.js"].to_s %>
  </script>
</body>
</html>
